.advantages_container {
    text-align: center;
}

.advantages_list {
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    
}

.advantages_item {
    border-radius: 16px;
    background: #F9F9F9;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    align-items:center;

}

.advantages_title {
    text-align: center;
    color:  black-ish;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 16px;
}

.advantages_subtitle {
    color: black-ish;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 12px;
    padding-top: 20px;
    display: flex;
    align-items:center;

    &::before {
        content: "";
        background-image: url("../img/discount.png");
        width: 32px;
        height: 32px;
        display: inline-flex;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.advantages_text {
    color:  #585656;
    font-weight: 400;
    line-height: normal;
    
}

.advantages_btn {
    display: none;
    color:  #0071E4;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    border-radius: 8px;
    border: 1px solid  $primary-color;
    padding: 8px  32px;

}

.discount_web_img {
    display: none;
    width: 160px;
    height: 160px;
}

@media screen and (min-width:768px) {

    .advantages_content {
        max-width: 307px ;
        
    }
    .advantages_subtitle {
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
    
        &::before {
            content: ""; 
            width: 64px;
            height: 64px;
            display: inline-flex;
        }
    }
    .advantages_text {
        padding-left: 60px;
        padding-bottom: 32px;
        
    }
    .advantages_btn { 
        display: inline-block;
        padding: 20px 50px;
        margin-left: 40px;
    }
}

@media screen and (min-width:1200px) {
    .advantages_list { 
        flex-direction: row;
        
    }

    .advantages_item {
        flex-direction: column;
        max-width: 212px;
        text-align: center;
        border-radius: 16px;
        background: linear-gradient(180deg, #FE94A6 0.04%, #F2F2F2 65.84%);
    }
    .advantages_subtitle {
        white-space: nowrap;
        &::before {
            display: none;
        }
    }
    .advantages_text {
        padding:0px ;
    }
    .advantage_button_block {
        align-items:center;
        display: flex;
        justify-content: center;
    }
    .advantages_btn { 
        margin-top: 90px;
        margin-left: 0px;
       padding: 8px 50px;
       margin-bottom: 32px;
    }
    .discount_web_img{
        display: inline-block;
    }
}